<section>
    <form action="/artist-search" method="GET">
        <input name="artist" class="searchInput" type="text">
        <input type="submit" class="searchBtn" value="Search for an artist" ></input>
    </form>
</section>

{{!-- <section>
    <form action="/artist-search" method="POST">
        <input name="artist" class="searchInput" type="text">
        <input type="submit" class="searchBtn" value="Search for an artist" ></input>
    </form>
</section> --}}